GOOGLE_FORM_URL='https://forms.gle/example'
GOOGLE_SHEET_URL='https://docs.google.com/spreadsheets/d/your-sheet-id/edit#gid=0'
GOOGLE_SHEET_GID='0'
GOOGLE_SHEET_CSV_URL=''
ICCU_SOURCE_CSV=''
GH_REPO_URL='https://github.com/your-org/your-repo'
GH_STARS_FALLBACK='0'
SITE_URL='https://example.com'
SOCIAL_IMAGE_URL='/social-card.png'
NUXT_APP_BASE_URL='/'
